.layout{

  display: flex;
}
.titles{
  display: flex;
  margin-top: 35px;
}
.title_bonjour{
  font-size: 48px;
  font-weight: 500;
}
.title_prenom{
  font-size: 48px;
  color: #FF0101;
  margin-left: 17px;
  padding-top: 33px;
}
.body{
  display: flex;
  flex-direction: column;
  margin-left: 107px;
}
.title_p{
  font-size: 18px;
  margin-top: 0;
}
.App{
  margin-top: 77px;
  display: flex;

}
.Graphiques_small{
  margin-top: 30px;
  display: flex;
  width: 835px;
}
.Graphique_small{
  width:258px;
  height:263px;
}


.performances{
  height:613px;
  margin-left: 31px;
}